{% extends layout %}

{% block content %}
<table style="height: 100%; width: 100%; position: fixed;">
	<tr>
		<td valign="center">
			<h1> 
				<center>
					<img style="max-width: 256px; width: 100%" src="common/images/point-logo.png"/>
				</center>
			</h1>
		</td>
	</tr>
</table>
{% endblock %}